@media only screen and (max-width: 600px) {
    body {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    header .header-bottom {
        grid-template-columns: auto;
    }

    header .nav-wrapper {
        width: 220px;
    }

    header {
        grid-template-columns: auto;
        padding-left: 2%;
        padding-bottom: 2%;
    }

    header ul {
        justify-content: left;
        padding: 0;
    }

    header .search-login {
        justify-content: left;
        padding: 0;
        gap: 40%;
    }

    footer {
        padding-left: 3%;
        padding-top: 2%;
    }

    footer .footer {
        grid-template-columns: auto;
        justify-content: left;

    }

    .footer .company-inc {
        margin-left: 0;
    }

    .footer ul {
        padding: 0;
        justify-content: left;
    }

    body .grid-products {
        grid-template-columns: auto;
    }

    header input {
        margin-right: 20%;
    }

    body .grid-products-top {
        grid-template-columns: auto;
    }

    body .wrapper-blue {
        width: 300px;
        height: 500px;
    }

    body .center-price-blue {
        margin-top: 0%;
        display: grid;
        grid-template-columns: auto auto;
    }

    body .center-price-blue h1 {
        font-size: var(--step-3);
    }

    body .center-price-blue p {
        font-size: var(--step-2);
    }

    body .wrapper-blue th {
        font-size: var(--step-0);
    }

    body .wrapper-blue td {
        font-size: var(--step-0);
    }

    body .meny {
        grid-template-columns: auto auto;
    }

    body .bi-cart-check-blue {
        height: 40px;
        width: 30px;
    }

    body .cart {
        margin-top: 42%;
    }

    body .product-card-body {
        margin-left: 0;
    }

    body .center-price-blue-product {
        gap: 5rem;
    }

    body .product-placement {
        gap: 1rem;
    }

    body .cart-grid {
        margin-right: auto;
    }
}